@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Verdana, sans-serif;
  }

  body {
    @apply bg-back-light-300;
    height: 100vh;
  }

  #__next {
    height: 100vh;
  }

  .grid-center {
    display: grid;
    align-items: center;
  }
}

@layer components {
  .loading-icon {
    animation: 3s infinite linear loading-icon-anim;
  }

  @keyframes loading-icon-anim {
    0% {
      rotate: 0deg;
    }
    25% {
      rotate: 90deg;
    }
    50% {
      rotate: 180deg;
    }
    75% {
      rotate: 270deg;
    }
    100% {
      rotate: 360deg;
    }
  }
}